# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/dist
/build
/public/js

# misc
.DS_Store
*.pem


# NPM
.npmrc

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Error files
yarn-error.log

# Lock files
yarn.lock


# vercel
.vercel

# PWA
**/public/workbox-*.js
**/public/sw.js
**/public/fallback-*.js

# storybook
/storybook-static
/src/stories

# Terraform
.terraform
.terraform.lock.hcl

# Typescript build files
*.tsbuildinfo

# typescript incremental features
/.tsBuildInfoFile/
